@page "/"
@using BlazorGrpcWebCodeFirst.Shared;
@inject IMyService MyService

<Virtualize TItem="string" ItemsProvider="GetDataAsync">
	<p>@context</p>
</Virtualize>

@code
{
	public async ValueTask<ItemsProviderResult<string>> GetDataAsync(ItemsProviderRequest request)
	{
		var result = await MyService.DoSomethingAsync(new(), request.CancellationToken);

		var data = result.Data.Skip(request.StartIndex).Take(request.Count);
		return new ItemsProviderResult<string>(data, result.Data.Length);
	}
}